@font-face {
  font-family: Roboto;
  src: url(../asset/font/Roboto-Medium.ttf);
}

@font-face {
  font-family: Roboto;
  src: url(../asset/font/Roboto-Bold.ttf);
  font-weight: bold;
}

body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 12px;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    font-size: 3em;
    font-weight: normal;
  }
}

main {
  .btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .board-container {
    display: flex;
    justify-content: space-evenly;
    padding: 50px 0;
    .board {
      display: grid;
      grid-template-columns: repeat(10, 35px);
      grid-template-rows: repeat(10, 35px);
      border: 1px solid #535353;
      border-radius: 5px;
    }
    .square {
      border: 1px solid #7E7E7E;
      background-color: #5E83FF;
      margin-right: -1px;
      margin-bottom: -1px;
    }
    .ship {
      background-color: #7c7c7c;
    }
    .received-atk::before {
      display: flex;
      content: '❌';
      font-size: 25px;
      width: 36px;
      height: 36px;
      justify-content: center;
      align-items: center;
    }
    .enemy-board {
      .square:hover {
        background-color: #8AA5FF;
      }
    }
    :nth-child(10n) {
      margin-right: 0;
    }
    :nth-child(n + 90) {
      margin-bottom: 0;
    }
  }
}

button {
  font-size: 3em;
  background: none;
  border: none;
  color: green;
  padding: .3em .5em;
  cursor: pointer;
  font-weight: bold;
}

.win-screen {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  p {
    font-size: 3em;
    margin: 0.5em;
  }
  p:nth-child(2) {
    margin-bottom: 1em;
  }
}

.hide {
  visibility: hidden;
}
