@font-face {
  font-family: Roboto;
  src: url(../asset/font/Roboto-Medium.ttf);
}

@font-face {
  font-family: Roboto;
  src: url(../asset/font/Roboto-Bold.ttf);
  font-weight: bold;
}

body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 12px;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    font-size: 3em;
    font-weight: normal;
    margin: 0.5em;
  }
}

main {
  .btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .board-container {
    display: flex;
    justify-content: space-evenly;
    padding: 2em 0;
    .board {
      display: grid;
      grid-template-columns: repeat(10, 35px);
      grid-template-rows: repeat(10, 35px);
      border: 1px solid #535353;
      border-radius: 5px;
      margin-bottom: 1em;
    }
    .square {
      border: 1px solid #7e7e7e;
      background-color: #5e83ff;
      margin-right: -1px;
      margin-bottom: -1px;
    }
    .ship-square {
      background-color: #7c7c7c;
    }
    .received-atk::before {
      display: flex;
      content: '❌';
      font-size: 25px;
      width: 36px;
      height: 36px;
      justify-content: center;
      align-items: center;
    }
    .enemy-board {
      .square:hover {
        background-color: #8aa5ff;
      }
    }
    :nth-child(10n) {
      margin-right: 0;
    }
    :nth-child(n + 90) {
      margin-bottom: 0;
    }
  }

  .player-board-container {
    position: relative;
    width: 352px;
    .ship-container {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5em;
      .ship {
        background-color: #7c7c7c;
        margin-bottom: 0.5em;
      }
      .ship-v {
        height: 35px;
      }
      .ship-h {
        width: 35px;
      }
      .carrier {
        width: 175px;
      }
      .battleship {
        width: 140px;
      }
      .destroyer {
        width: 105px;
      }
      .submarine {
        width: 105px;
      }
      .patrol-ship {
        width: 70px;
      }
      .rotate-btn {
        font-size: 2em;
      }
      .carrier-h {
        height: 175px;
      }
      .battleship-h {
        height: 140px;
      }
      .destroyer-h {
        height: 105px;
      }
      .submarine-h {
        height: 105px;
      }
      .patrol-ship-h {
        height: 70px;
      }
    }
    .invisible-board {
      width: 352px;
      height: 352px;
      position: absolute;
      display: grid;
      grid-template-columns: repeat(10, 35px);
      grid-template-rows: repeat(10, 35px);
      border-radius: 5px;
      .invisible-square {
        margin-right: -1px;
        margin-bottom: -1px;
      }
      z-index: 99;
    }
    z-index: 0;
  }
}

button {
  font-size: 3em;
  background: none;
  border: none;
  color: green;
  padding: 0.3em 0.5em;
  cursor: pointer;
  font-weight: bold;
}

.win-screen {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  p {
    font-size: 3em;
    margin: 0.5em;
  }
  p:nth-child(2) {
    margin-bottom: 1em;
  }
}

.hide {
  visibility: hidden;
}

.drag {
  cursor: pointer;
  z-index: 1;
}
